<h2> Form Data - enter</h2>
<br></br>
<b>View:</b>pass parameters from this form(the view) to the controller.
<br></br>
<b>Controller:</b> will take the parameters and render a new view to display those parameters.
<br></br>
<b>The Idea is:</b> We could take the parameters from a page, pass it to a method inside
the controller.
<br></br>
The controller will run a system command that performs the actions we want it to.
<br></br>
<%= form_tag(:action => "show_data") do %>

<p>Command:
<%= text_field_tag("command","Enter Command you wish to run", :size=> 50)  %></p>
<p>RGen Version:
<%= text_field_tag("rgen_version","Enter Required RGen version", :size => 50)  %></p>

<p>DesignSync Vaults:
 <% [ 'sync://C55-1T-App-vault', 'sync://C90-TFS-App-Vault'].each do |vault| %>
    <br><%= radio_button_tag 'vault', vault, @vault == vault %>
 <%= vault.to_s%>
 <% end %>
 
<p>Tools:
<%=check_box_tag("tools[]", "Perl", :multiple => "true", :size => 5) %> Perl
<%= check_box_tag("tools[]", "Python", :multiple => "true") %> Python
<%= check_box_tag("tools[]", "Ruby", :multiple => "true") %> Ruby </p>

<p>Platforms:
<%= check_box_tag("platforms[]","Linux") %> Linux
<%= check_box_tag("platforms[]","Mac OSX") %> Mac OSX
<%= check_box_tag("platforms[]","Windows") %> Windows</p>
<%= submit_tag("Save Data") %>
<% end %>


