<h2> Form Data - display</h2>

Command: <%= @command %>
<br></br>
RGen version: <%= @rgen_version %>
<br></br>
DesignSync Vaults: <%= @vault %>
<br></br>
Tools: <%= @tools %> 
<br></br>
Platforms: <%= @platforms %>
<br></br>
<hr>
