<h2> Form Data - display</h2>

Command: <%= @command %>
<br></br>
RGen version: <%= @rgen_version %>
<br></br>
DesignSync Vaults: <%= @vaults.join(", ")%>
<br></br>
Tools: <%= @tools.join(", ") %>; 
<br></br>
Platforms: <%= @platforms.join(", ") %>; 
<br></br>
<hr>
